* {
  box-sizing: border-box;
}

main {
  min-height: 80vh
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offcanvas-header h4 {
  margin-bottom: 0;
}

.offcanvas-title i {
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.offcanvas-body {
  width: 100%;
}

.offcanvas-body .navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
}

.offcanvas-body .navbar-nav .nav-item:hover {
  width: 100%;
  background: #8e8c84;
}

.nav-links {
  color: white;
}

.home-link {
  background-color: rgb(62, 63, 58);
  border-radius: 4px;
}

.home-link h5 {
  display: none;
}
.home-link:hover h5 {
  display: inline-block;
  color: white;
  margin: 0 1rem;
      transition: all 400ms ease-in-out;

}

.home-link:hover {
  transform: scaleX(90%);
  transform-origin: left;
    transition: all 400ms ease-in-out;

}

.home-link:hover > .link-slider{
  transform: translateX(90%);
  transform-origin: left;
  transition: all 400ms ease-in-out;
}
.modal-body {
  width: 100%;
}

.modal-body .container {
  width: 100%;
}
.modal-body .container .row{
  width: 100%;
}
.modal-body .container .row div{
  width: 100%;
}
#comment {
 width: 100%;
}

.like-btn {
  border: none;
}

.delete-btn {
  border: none;
}
.delete-btn:hover {
  background: none;
}
.delete-btn:focus,.delete-btn:active {
   outline: none !important;
   box-shadow: none !important;
}

footer .container .row .col {
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .nav-links:hover {
  color: #f8f5f0;
}